.button {
    font-size: 0.8em;
}

.button_primary {
    padding: 18px 30px;
    border-radius: 0.5em;
    background-color: var(--color-black);
    color: white;
}

.button_second {
    padding: 30px 50px;
    background-color: var(--color-green);
    border-radius: 0.8em;
    margin-right: 1.5vw;
}