.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0.4 0 0;
}

.footer__paragraph {}

.footer__list {
    list-style: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
}

.footer__item {
    margin-right: 2.6vw;
    font-size: 8px;
    letter-spacing: 7px;
}

.footer__item::after {
    content: "/";
}

.footer__container {
    flex: 0 0 43%;
    display: flex;
    align-items: center;
}