.icon {}

.icon_arrow_down {
    background-image: url("../assets/icons/arrow_down.png");
    width: 3vh;
    height: 4vh;
    display: block;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0;
    cursor: pointer;
}

.icon_fire {
    background-image: url("../assets/icons/fire.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    padding: 11px;
}