.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin-left: 4%;
}

.main__title {
    font-size: 4.5em;
    max-width: 15ch;
    margin: 0;
    padding: 0;
}

.main__paragraph {
    font-size: 1.5em;
    max-width: 38ch;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}